[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
requests = "*"
slack-sdk = "*"
pydantic = "*"
sqlalchemy = "==1.4.40"
uvicorn = "*"
python-multipart = "*"
python-dateutil = "*"
psycopg2-binary = "*"

[dev-packages]
yapf = "*"
flake8 = "*"
coverage = "*"
pytest = "*"
isort = "*"
factory-boy = "*"
rstr = "*"
pytest-cov = "*"
sqlalchemy-utils = "*"
python-dotenv = "*"
mypy = "*"

[requires]
python_version = "3.9"

[scripts]
test-cov = "pytest --cov-report term-missing --cov=app --disable-pytest-warnings  tests/"
sort = "python -m isort --multi-line=3 --trailing-comma --force-grid-wrap=0 --combine-as --line-width 120 **/*.py"
start = "python -m uvicorn app:api --reload --port=5000"
